.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
}

.modal__container {
  position: relative;
  background: rgb(61, 18, 18);
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal__close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 20px;
  width: 100%;
  font-size: 28px;
  background: pink;
  color: green;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.modal__content {
  color: #e5e5e5;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__submit {
  cursor: pointer;
}
