.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  position: relative;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
}

.modal__close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  top: -15px;
  right: -15px;
}

.modal__title {
  margin: 0 0 20px;
  font-size: 28px;
  background: pink;
  color: green;
  text-align: center;
}

.modal__content {
  color: #e5e5e5;
  font-size: 16px;
}
