.books {
  max-width: 800px;
  margin: 0px auto;
  padding: 0 20px;
  text-align: center;
}

.books__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #c048fc;
  text-decoration: none;
  margin-bottom: 10px;
}

.books__home-icon:hover {
  opacity: 0.7;
}

.books__title {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  background: linear-gradient(180deg, #c084fc 0%, #e5e5e5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.books__subtitle {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 50px;
  opacity: 0.8;
  font-style: italic;
  color: #e5e5e5;
}

.books__section {
  margin-bottom: 50px;
}

.books__section-title {
  font-size: 24px;
  color: #c084fc;
  margin-bottom: 20px;
}

.books__section-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.books__card {
  padding: 18px 20px;
  border-radius: 10px;
  border: 1px solid #3a3450;
  text-align: left;
}

.books__card-title {
  color: #c284fc;
  font-size: 20px;
  margin-bottom: 8px;
}

.books__card-description {
  color: #e5e5e5;
  margin-bottom: 8px;
}

.books__card-year {
  font-size: 14px;
}
