.navigation {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
}

.navigation__name {
  font-size: 18px;
}

.navigation__modal {
  font-size: 18px;
}

@media (max-width: 600px) {
  .navigation {
    padding: 12px;
    gap: 10px;
  }

  .navigation__link {
    font-size: 14px;
  }

  .navigation__name {
    font-size: 14px;
  }

  .navigation__modal {
    padding: 6px 10px;
    font-size: 14px;
  }
}
