.footer {
  margin-top: 60px;
  padding: 40px 20px;
  text-align: center;
  color: #e5e5e5;
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #3a3450;
  margin-bottom: 20px;
  opacity: 0.4;
}

.footer__text {
  font-size: 18px;
}
